.imageUploadContainer {
  text-align: center;
  margin: 2em 0em;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1em;
}

.customLogoContainer {
  position: relative;
  width: 250px;
  height: 250px;
  cursor: pointer;
  border: 2px dashed #9c001a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.customLogoContainer img {
  width: 200px;
  height: 200px;
}

.imagePreview {
  max-width: fit-content;
  max-height: fit-content;
  object-fit: contain;
}
.removeButton {
  background-color: #9c001a;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 32em) {
  .imageUploadContainer {
    margin-top: 5em;
  }
}
