.jobs_list {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
}
.buttonEdit {
  padding: 0.5em 0.9em;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonDelete {
  margin: 0em 1em;
  background-color: red;
  padding: 0.5em 0.9em;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 790px) and (max-width: 1060px) {
  .jobs_list {
    margin-left: 6em;
  }
}
